.categories{
    display: flex;
    position: sticky;
    top: 56px;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    height: 56px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}
.category-list{
    width: 80vw;
    overflow-x: hidden;
    display: flex;
}
.category-btn{
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
}
.category-btn:hover{
    background-color: rgb(172, 170, 170);    
}
.shadow{
    opacity: 0;
    background-color: grey
}