.category{
    border-radius: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: rgb(245, 244, 244);
}
.category:hover{
    background-color: black;
    color: white;
}