.home-normal{
    flex: 11.5;
}
.home-withnav{
    flex: 9;
}
.home{
    background-color: rgb(245, 244, 244);
}
.home-videocards{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 5px;
    padding: 5px;
}