.nav-small{
    flex: 0.5;
    background-color: white;
}
.nav-icons{
    position: sticky;
    top: 56px;
}
.nav-title{
    font-size: 10px;
    color: grey;
}
.nav-icon{
    margin: 20px 0px;
    padding: 5px;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.nav-title{
    margin-top: 10px;
}
@media screen and (max-width : 720px) {
    .nav-small{
        display: none;
    }
}